{% extends 'base.html' %} {% block content %}
<h1>Your Bar</h1>
<p>Add ingredients to your bar, then search for a cocktail</p>
<form id="ingredientForm">
    <div class="row">
        {% for ingredient in ingredients %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <input
                        type="checkbox"
                        class="ingredientCheckbox"
                        value="{{ ingredient.ingredient }}"
                        data-ingredient-id="{{ ingredient.on_hand_ID }}"
                    />
                    <label class="gold-checkbox-label">
                        {{ ingredient.ingredient }}
                    </label>
                    <button
                        class="deleteBtn btn btn-danger"
                        data-ingredient-id="{{ ingredient.on_hand_ID }}"
                    >
                        x
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="button" class="deleteBtn btn btn-danger" id="submitSelection">
        Submit Selection
    </button>
</form>
<div class="search-container">
    <input
        type="text"
        name="ingredient"
        id="ing_search"
        placeholder="Search ingredients"
    />
    <button id="submitBtn">Submit</button>
    <div class="suggestions">
        <ul></ul>
    </div>
</div>
{% endblock %}
