<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Bartender</title>
        <script src="https://unpkg.com/jquery"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
        />
        <link rel="stylesheet" href="/static/style.css"/>
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        />
        <link rel="shortcut icon" href="/static/favicon.ico" />
    </head>
    <div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bartender App</h1>
        <h3 class="sub-header">Find delicious drinks based on what you have on hand</h3>
      </div>
      </div>
    <div class="container">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-link"><a href="#">Home</a></li>
          <li class="nav-link"><a href="/bar">Your Ingredients</a></li>
          <li class="nav-link"><a href="/history">Your Drink Menu</a></li>
        </ul>
      </div>
        <div class="container">
            {% for category, message in
            get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %} {% block content %} {% endblock %}
        </div>
        <script type="module" src="/static/script.js"></script>
    </body>
</html>
